DATABASE_URL=postgresql://user:password@host/database?sslmode=require
BETTER_AUTH_SECRET=
EXPO_PUBLIC_API_URL=http://localhost:8081

#EXPO_PUBLIC_API_URL=https://ai-workout-tracker-app--testapi.expo.app


BETTER_AUTH_URL=http://localhost:8081
#BETTER_AUTH_URL=http://localhost:8081
#BETTER_AUTH_URL=https://ai-workout-tracker-app.expo.app

IMAGEKIT_PRIVATE_KEY=

AI_GATEWAY_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=